- raise "Missing title" unless (defined? name) && name
- id = nil unless (defined? id) && id
- type = data.icons[id] ? id : :misc
%br
%br
{:nomarkdown}
%h2{id: id}
  = partial 'partials/icon', locals: {type: type}
  = name
%br